

/* conatineur récapitulatif de comannde à droite */
.container{
    position: absolute;
    width: 429px;
    height: 739px;
    right: 30px;
    top: 112px;
    background: #F4F3F4;
    border-radius: 5px;

}
/* image produit */
.container img{
    width: 40%;
    margin-left: -4em;
}

/* marge du texte */
.container .text{
    padding-left: 20px;
}
/*  style et posiion du texte 'Total TCT: PRIX'*/
.container h2{
    font-weight: 800;
    font-size: 24px;
    padding-top:20px ;

}
/* position prix HT*/
.prix{
    position: relative;
    top: -6.1em;
    left: 20em;
}
/* position prix T*/
.prix2{
    position: relative;
    top: -1em;
    left: 20em;
}

/* position prix produit*/
.prix3{
    position: relative;
    top: -11em;
    left: 22em;
    font-size: 15px;
}

/* format texte */
.container p{
    position: relative;
    font-weight: 400;
    font-size: 15px;
    top: -2.4em;
}

/* taille et position  des traits de séparation */
#basket hr{
    width: 24em;
}
#trait{
    margin-top: -20px;
}
#trait2{
    margin-top: -20px;
}



/* Posisition du texte 'Récapitulatid de ma commande' */
.container h3{
    padding-top: 30px;
}

/* Position et style de 'modifier' */
input[id="mod"]{
    position: relative;
    font-weight: 600;
    font-size: 15px;
    background-color: #F4F3F4;
    text-decoration-line: underline;
    border: none;
    top: -152px;
    left: 320px;

}

/* position et style de Quatnité produit */
.container h4{
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: #363636;
    top: -100px;
    left: 170px;
}
/* position du texte 'livraison gratuite en France' */
#livraison{
    margin-top: 80px;
}

/* position  et style du bouton 'Continuer' */
#continue a{
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    background-color: #918D8D;
    width: 376px;
    height: 72px;
    display: block;
    margin-top: 50px;
    text-decoration: none;
    border: none;
    line-height:70px;
    border-radius: 52px;
    margin-left: 5px;
}
    
#continue a:hover {
    background: #1E45A9;
}


 

