footer{
    margin-top: 10em;
    background-color: #363636;
}

#bas{
    padding: 40px;
    font-weight: 400;
    font-size: 14px;
    color: #AFA8A8;
    padding-left: 65px;
}

#white{
    color: white;   
}

.column{
    padding: 25px;

}
.column a{
    display: grid;
    grid-gap: 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #9D9D9D;

}
.gridfooter{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


footer img{
    position:absolute;
    width: 25em;
    margin-top: -116px;
    right: 1em;
}

.maj a{
    text-transform: uppercase;
    color: white;
    font-size: 20px;

}
.size a{
     font-size: 16px;

}
