
body{
    background: #E7E4E4;
    font-family:Inter;
}

/* position et format du container blanc */
#white-box{
height: 380px;
}
  
/* format titre Mot de passe oublié */
h2{
  position: relative;
  top:40px;
}

/* format de submit*/
input[type="submit"] {
  top: 70px;
}



