
#info_app h2{
    font-weight: 700;
    font-size: 36px;
    padding-top: 160px;
    padding-left: 93px;
}


#produit img{
    position: relative;
    width: 14em;
    top:-3em;
    left: 5em;
}


.grid3{

    margin: -5em 3em 0 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}
.case{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 34px;
    padding-bottom: 2em;
}


.case img{
    position: relative;
    width: 4em;
    margin-top: .5em;
    margin-left: 1em;
}

.case .graph > div{
    position: relative;
    width: 338px;
    height: 174px;
    background: #D9D9D9;
    left: 50%;
    top: 6em;
    margin-left: 2px;
    transform: translate(-50%, -50%)
}

.case h3{
    font-weight: 700;
    font-size: 16px;
    margin-top:-3.5em ;
    margin-left: 6em;
}

.case p{
    font-weight: 700;
    font-size: 15px;

    margin-left: 7em;
    color: #06DB1C;
}

.case h4{
    text-align: center;
}

